<app-manager-nav></app-manager-nav>

<section id="manageWorkers">
    <div class="container">
        <form #addWorkerForm="ngForm" (ngSubmit)="addWorker(addWorkerForm.value)">
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" name="firstname" class="form-control" placeholder="First Name" ngModel>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" name="lastname" class="form-control" placeholder="Last Name" ngModel>
                </div>
                <div class="form-group">
                    <label for="iden">ID Number:</label>
                    <input type="text" name="iden" class="form-control" placeholder="ID Number" ngModel>
                </div>
                <div class="form-group">
                    <label for="gender">Gender:</label>
                    <div class="radio">
                      <label><input type="radio" name="gender" value="FEMALE" ngModel>Female</label>
                    </div>
                    <div class="radio">
                      <label><input type="radio" name="gender" value="MALE" ngModel>Male</label>
                    </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                    <label for="birthday">Birthday:</label>
                    <input type="date" name="birthday" class="form-control" placeholder="birthday" ngModel>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="userName" class="form-control" placeholder="Username" ngModel>
                </div>
                <div class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" name="password" class="form-control" placeholder="Password" ngModel>
                </div>
                <button class="btn btn-success pull-right" type="submit">Add Worker</button>
              </div>
          </div>
        </form>
    </div>
</section>