<app-manager-nav></app-manager-nav>

<section id="terminateList">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="btn btn-info" (click)="onRefresh()"><span class="glyphicon glyphicon-repeat"></span></button>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                          <tr id="headTR">
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>ID Number</th>
                            <th>Birth Date</th>
                            <th>Gender</th>
                            <th>Balance</th>
                            <th><span class="glyphicon glyphicon-ok"></span></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let account of terminatelist">
                            <td>{{account.id}}</td>
                            <td>{{account.firstname}}</td>
                            <td>{{account.lastname}}</td>
                            <td>{{account.iden}}</td>
                            <td>{{account.birthday}}</td>
                            <td>{{account.gender}}</td>
                            <td>{{account.portfolio?.balance || 0}}</td>
                            <td><button class="btn btn-danger" type="button" (click)="onTerminate(account.id)">Terminate</button></td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
